<div class="box">
    <div class="container">
        <div class="title">
            Categorías
        </div>
        <div class="category-group">
    
            <div class="category-title">
                Geografía
            </div>
    
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img src="../../../assets/icons/globe.png" alt="">
                        </div>
                        <div class="card-title">
                            Países
                        </div>
                    </div>
                </div>    
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img src="../../../assets/icons/globe.png" alt="">
                        </div>
                        <div class="card-title">
                            Países
                        </div>
                    </div>
                </div>                 
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img src="../../../assets/icons/globe.png" alt="">
                        </div>
                        <div class="card-title">
                            Países
                        </div>
                    </div>
                </div>                 
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img src="../../../assets/icons/globe.png" alt="">
                        </div>
                        <div class="card-title">
                            Países
                        </div>
                    </div>
                </div>                 
            </div>

        </div>
        <div class="category-group">
    
            <div class="category-title">
                Español
            </div>
    
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img src="../../../assets/icons/globe.png" alt="">
                        </div>
                        <div class="card-title">
                            Países
                        </div>
                    </div>
                </div>    
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img src="../../../assets/icons/globe.png" alt="">
                        </div>
                        <div class="card-title">
                            Países
                        </div>
                    </div>
                </div>                 
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img src="../../../assets/icons/globe.png" alt="">
                        </div>
                        <div class="card-title">
                            Países
                        </div>
                    </div>
                </div>                 
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="card-img">
                            <img src="../../../assets/icons/globe.png" alt="">
                        </div>
                        <div class="card-title">
                            Países
                        </div>
                    </div>
                </div>                 
            </div>

        </div>

    </div>
    <br>
</div>
