
<div class="box">
    <div class="quiz-card-container">
        <div class="quiz-card">
            <div class="quiz-title">
                <div class="title">
                    {{quiz.title}} - <span class="category">{{quiz.category}}</span>
                </div>
                <div class="time">
                    
                </div>
            </div>

            <div class="quiz-question" >
                {{quiz.questions[nQuestion].question}}
            </div>
            
            <div class="quiz-answers">
                <div #answer0 class="quiz-answer-item" (click)="checkAnswer(0)" [ngClass]="{'hide-element': quiz.questions[nQuestion].answers.length<1}">
                    {{quiz.questions[nQuestion].answers[0]}}
                </div>
                <div #answer0 class="quiz-answer-item" (click)="checkAnswer(1)" [ngClass]="{'hide-element': quiz.questions[nQuestion].answers.length<2}">
                    {{quiz.questions[nQuestion].answers[1]}}
                </div>
                <div #answer0 class="quiz-answer-item" (click)="checkAnswer(2)" [ngClass]="{'hide-element': quiz.questions[nQuestion].answers.length<3}">
                    {{quiz.questions[nQuestion].answers[2]}}
                </div>
                <div #answer0 class="quiz-answer-item" (click)="checkAnswer(3)" [ngClass]="{'hide-element': quiz.questions[nQuestion].answers.length<4}">
                    {{quiz.questions[nQuestion].answers[3]}}
                </div>
                <div #answer0 class="quiz-answer-item" (click)="checkAnswer(4)" [ngClass]="{'hide-element': quiz.questions[nQuestion].answers.length<5}">
                    {{quiz.questions[nQuestion].answers[4]}}
                </div>
                

            </div>

            <div class="quiz-footer">
                <div class="text">
                    {{nQuestion+1}} de {{nAllQuestions}} preguntas
                </div>
                <button class="btn" (click)="nextQuestion()">Siguiente</button>
            </div>

        </div>
    </div>
</div>
<!--
    <div class="content-container">
    <div class="container">
        <div class="quiz-card">
            <div class="row main-description">
                Entra para descubrir un quiz
            </div>
            <div class="row main-button">
                <button class="btn btn-lg btn-primary">Jugar</button>
            </div>
        </div>
    </div>
</div>
-->